
@model app.Models.Provider;
@{
    ViewBag.Title = "Evoke existing Web Service";
    <!-- var entidades = ViewBag.Entidades; -->
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "";
    <!-- var valueEntidade = " ";
    var test = ""; -->
}

<script language="C#" runat="server">

      void btnValida_Click(Object sender, EventArgs e) 
      {

        test = Request.Form["tabelaEscolhida"];
        alert(ViewBag.selected_tabela);
      }

      void Button_Click(Object Sender, EventArgs e) 
      {
         Label1.Text = Server.HtmlEncode(Text1.Text);
      }

</script>

<head runat="server">
<h2>@ViewBag.Title</h2>
</head>

<body>

<div>
  <form id="validaURL" runat="server">
    
    URL: <input type="text" id="url" placeholder="Web Service URL here"/>
    <input type="submit" id="btnValida" Text="Submit" value="Validate" onserverclick="btnValida_Click"/>
  </form>
</div> 

<div>
  <form>
    Entidade: <select asp-for="selected_table_name" asp-items="@ViewBag.Entidades">
        <option>Select entity</option>
    </select>

  </form>
  <p>@ViewBag.selected_tabela</p>
</div>
</body>
